<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Users</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/teams">Home</a>
            </li>
            <li>
                Users
            </li>

            <li>
                <strong><%= link_to 'Add new user', new_user_path %></strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
    
        <% @users.each do |user| %>

            <% if user.id == current_user.id %>

            <%else%>

            <div class="col-lg-12">
                <div class="contact-box">



                    <div class="col-sm-12">
                        <div class="text-center">
                            <div class="m-t-xs font-bold"><%= user.email %></div>
                            
                            <div class="m-t-xs font-bold" style="margin-bottom:5px;">

                            <% if user.rol_id == 1 %>
                            <span style="color:green;">Super User</span>
                            <%elsif user.rol_id == 2%>
                            <span style="color:green;">Account Manager</span>
                            <%elsif user.rol_id == 3%>
                             <span style="color:green;">Customer</span>
                            <%end%>
                            </div>

                        </div>
                    </div>
                    

                     <div class="text-center" style="padding-top:30px;">

                    <%= link_to "Show", user, class: "btn btn-xs btn-outline btn-primary" %>

                    <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure in delete this member' }, class: "btn btn-xs btn-outline btn-danger" %>
                    </div>
                </div>
            </div>
            <%end%>
        <% end %>
    </div>

</div>



