<br><br><br>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg" style="margin-top:-5px;">


                <% if user_signed_in? %>
                 <div class="col-lg-12">
                    

                    <div class="row" style="margin-top:100px;">
                       <h2>Bienvenido al</h2>
                         <h2>Panel Administrativo</h2>
                         <h2>SICIP</h2>
                       <p class="notice"><%= notice %></p>
                       <p class="alert"><%= alert %></p>

                    </div>
                   
                </div>
                <%else%>
                    
                    <div class="container">
                    <img style="height:100px; margin-top:100px;" id="blogo" alt="image" src="<%= image_path('sicip.png') %>">
                    <h2>Bienvenido al</h2>
                    <h2>SICIP Panel Administrativo</h2>
                    <h2>Click para ingresar  <%= link_to('Login', new_user_session_path, :method=>'new') %></h2>

                    
                    <!--
                    <h2>if you dont have any account</h2>
                    <h2>Please click on  <a href="/users/sign_up">Sign Up</a></h2>
                    </div>
                    -->
                   

                <%end%>



               



            </div>
        </div>
    </div>
</div>

